header{
    height: 100vh;
    background-image: url('https://www.hackademy.mx/assets/img/us1.png');
    background-position: center;
    background-size: cover;
}
.overlay{
    background-color: rgba(0,0,0,0.5);
}